html,
body {
    overflow: hidden;
    background: rgb(0, 12, 20);
    font: 16px/1.4 'Lato', sans-serif;
}

body {
    margin: 0;
    position: absolute;
    width: 100%;
    height: 100%;
}

canvas {
    width: 100%;
    height: 100%;
    display: block;

}

#overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    pointer-events: none;
    z-index: 1;
}

#content {
    color: white;
    font-size: 24px;
    text-align: center;
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.7);
    border-radius: 10px;
}

nav {
    display: inline;
    flex-direction: row;
    align-items: flex-start;
}

.bottom-line {

    border-bottom: 1px solid rgba(102, 255, 14, 0.8);
    background: url(img/galaxy_3.png);
    background-repeat: no-repeat;
    opacity: 0.89;
    z-index: 1;

    box-shadow: -2px 5px 10px 0px rgba(2, 255, 213, 0.8);
    height: 75px;
}

.bottom-line img {
    opacity:5;
    z-index: 2;

    box-shadow: -1px 1.5px 1px -1px rgb(19, 19, 19);
    width: 80px;
    height: auto;
    position: absolute;
    transition: transform cubic-bezier(0.23, 1, 0.320, 1) ease-in-out;
    cursor: pointer;
}

#startButton {
    height: 3vh;
    margin-top: 4vh;
    margin-left: 14vh;
    background: rgba(18, 85, 12, 0.8);
    color: white;
    display: inline;
    font-weight: 600;
    border: 1px solid rgb(60, 255, 0);
    border-radius: 5px;
    cursor: pointer;

}

#cv {

    width: 99%;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    opacity: 1;
    animation:infinite 4s forwards;
}

.personal-details {
    background: url("img/output-onlinepngtools-min.png");
    background-size: cover;
    font-size: 2.5vh;
    text-decoration: 3px underline overline rgba(2, 255, 23, 1); /* Use rgba for full opacity */
    font-weight: 700;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10vh;
    padding: 5vw;
    color: rgba(255, 255, 255, 1); /* Use rgba for full opacity */
    border: 1.5px solid rgb(236, 252, 14);
    box-shadow: -20px -20px 2px 1px rgba(145, 177, 3, 0.575);
    backdrop-filter: invert(5%);
    border-radius: 1vh;
    pointer-events: auto;
    animation:cubic-bezier(0.445, 0.05, 0.55, 0.95) 4s forwards;

}


.personal-details h1 {
    letter-spacing: 1.5px;
}
.personal-details::before {
    border-radius: 2vh;
    content: " ";
    display: block;
    position: absolute;
    top: 0; right: 0; bottom: 0; left: 0;
    inset: 0 0 0 0;
    background: hsl(180, 8%, 3%);
    z-index: -1;
    transition: transform .3s ease;
  }

.personal-details::before {  
    transform: scaleX(0);
    transform-origin: bottom ;
  }
  .personal-details:hover::before {

    transform: scaleX(1);
    transform-origin: bottom ;
  }

@keyframes fadeIn {
    to {
        opacity: 1;
    }
}

.break {
    width: 99.9%;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.break img {
    width: 80vw;
    height: 0.4vw;
}


.contact_details {
    margin: 5vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 6vh
}

.contact_details h3 {
    color: rgba(212, 176, 14, 0.959);;
    font-size: 18px;
    font-weight: 500;

}

.icons {
    display: flex;
    gap: 5vh;
}

.icons img {
    width: 6vh;
    height: 6vh;
    background-color: rgba(180, 150, 13, 0.747);
    border-radius: 10.9vh;
    z-index: 2;
    pointer-events: auto;
    transition: transform 0.2s ease-in-out;
}

.icons img:hover {
    transform: scale(1.2);
}



@media (max-width: 600px) {
    .contact_details h3 {
        font-size: 15px;
    }

    .icons img {
        width: 5vh;
        height: 5vh;

    }

}