body {
    margin: 0 auto;
    background: url('img/wallpaperflare.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    overflow-x: hidden
}

nav {
    display: inline;
    flex-direction: row;
    align-items: flex-start;
}

.bottom-line {
    border-bottom: 1px solid rgba(102, 255, 14, 0.8);
    position: relative;
    background: rgb(0, 12, 20);
    box-shadow: -2px 5px 10px 0px rgba(2, 255, 213, 0.8);
    height: 75px;
}

.bottom-line img {
    box-shadow: rgba(187, 2, 2, 0.1);
    width: 80px;
    height: auto;
    position: absolute;
    transition: transform cubic-bezier(0.23, 1, 0.320, 1) ease-in-out;
    cursor: pointer;
}

#startButton {
    height: 3vh;
    margin-top: 4vh;
    margin-left: 10vh;
    background: rgba(18, 85, 12, 0.8);
    display: inline;
    color: deepskyblue;
    font-weight: 600;
    border: 1px solid rgb(60, 255, 0);
    border-radius: 3px;
    cursor: pointer;

}

#cv {
    width: 99%;
    position: relative;
    overflow: hidden;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    cursor: pointer;
    opacity: 0; 
    animation: fadeIn 10s forwards; 
}

.personal-details {
    font-size: 2.5vh;
    text-decoration: 7px underline overline #00ff15;
    font-weight: 100;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10vh;
    padding: 10vh;
    color: rgb(255, 255, 255);
    border: 2px solid rgb(228, 253, 0);
    box-shadow: -20px -20px 2px 2px rgba(21, 253, 0, 0.8);
    backdrop-filter: invert(20%);
    border-radius: 1vh;
}

@keyframes fadeIn {
    to {
        opacity: 1;
    }
}