html,
body {
    overflow: visible;
    background: rgb(0, 12, 20);
}

body {
    margin: 0;
    position: absolute;
    width: 100%;
    height: 100%;
    font-family: 'Montserrat', 'Arial Narrow', Arial, sans-serif;
}

canvas {
    width: 100%;
    height: 90%;
    display: block;

}

#overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    min-height: max-content;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    pointer-events: none;
    z-index: 1;
}

#content {
    color: white;
    font-size: 24px;
    text-align: center;
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.7);
    border-radius: 10px;
}

nav {
    display: inline;
    flex-direction: row;
    align-items: flex-start;
}

.bottom-line {

    border-bottom: 1px solid rgba(102, 255, 14, 0.8);
    background: url(img/galaxy_3.png);
    background-repeat: no-repeat;
    opacity: 0.89;
    z-index: 1;

    box-shadow: -2px 5px 10px 0px rgba(2, 255, 213, 0.8);
    height: 75px;
}

.bottom-line img {
    opacity: 5;
    z-index: 2;

    box-shadow: -1px 1.5px 1px -1px rgb(19, 19, 19);
    width: 80px;
    height: auto;
    position: absolute;
    transition: transform cubic-bezier(0.23, 1, 0.320, 1) ease-in-out;
    cursor: pointer;
}

#startButton {
    height: 3.5vh;
    margin-top: 3vh;
    margin-left: 14vh;
    background: rgba(18, 85, 12, 0.8);
    color: white;
    display: inline;
    font-weight: 600;
    font-size: 1.4vh;
    border: 0.1px solid rgb(126, 124, 10);
    border-radius: 10px;
    cursor: pointer;

}

#cv {
    margin-top: 15vh;
    width: 99%;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    opacity: 1;
    animation: infinite 4s forwards;
}

.personal-details {
    background: url("img/main_back.png");
    background-size: cover;
    font-size: 2.5vh;
    text-decoration: 3px underline overline rgba(2, 255, 23, 1);
    font-weight: 700;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10vh;
    padding: 5vw;
    color: rgba(255, 255, 255, 1);
    border: 1.5px solid rgb(236, 252, 14);
    box-shadow: -20px -20px 2px 1px rgba(145, 177, 3, 0.575);
    backdrop-filter: invert(5%);
    border-radius: 1vh;
    pointer-events: auto;
    animation: cubic-bezier(0.445, 0.05, 0.55, 0.95) 4s forwards;

}


.personal-details h1 {
    letter-spacing: 1.5px;
    font-family: 'Montserrat';

}
@media (max-width: 600px) {
    .personal-details{
        font-size: 2.3vh;

    }

    .personal-details h1 {
        letter-spacing: 1.3px;

    }

}

.personal-details::before {
    border-radius: 2vh;
    content: " ";
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    inset: 0 0 0 0;
    background: hsl(180, 8%, 3%);
    z-index: -1;
    transition: transform .3s ease;
}

.personal-details::before {
    transform: scaleX(0);
    transform-origin: bottom;
}

.personal-details:hover::before {

    transform: scaleX(1);
    transform-origin: bottom;
}

@keyframes fadeIn {
    to {
        opacity: 1;
    }
}

.break {
    width: 99.9%;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.break img {
    width: 80vw;
    height: 0.4vw;
}


.contact_details {
    margin: 5vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 6vh
}

.contact_details h3 {
    color: rgba(212, 176, 14, 0.959);

    font-size: 18px;
    font-weight: 600;

}

.icons {
    display: flex;
    gap: 5vh;
}

.icons img {
    width: 5vh;
    height: 5vh;
    background-color: rgba(180, 150, 13, 0.747);
    border-radius: 10.9vh;
    z-index: 2;
    pointer-events: auto;
    transition: transform 0.2s ease-in-out;

}

.icons img:hover {
    transform: scale(1.2);
}



@media (max-width: 600px) {
    .contact_details h3 {
        font-size: 15px;
    }

    .icons img {
        width: 4.2vh;
        height: 4.2vh;

    }

}

.button_container {
    margin-top: 7vh;
    display: flex;
    align-items: center;
}

.button {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 30px;
    cursor: pointer;
    pointer-events: auto;
    z-index: 2;
    height: 50px;
    width: 50px;
    border: none;
    background: #6ddc5b;
    transition: width 300ms;
}

.icon {
    transition-duration: 800ms;
    display: flex;
    position: relative;
    right: 23px;
}

.button .icon img {
    width: 20px;
    height: auto;
}

.read_more_button_text {
    pointer-events: none;
    transform: translateX(-170px);
    opacity: 0;
    color: #000;
    font-size: 18px;
    font-family: sans-serif;
    letter-spacing: 1px;
    cursor: pointer;
}

.button:hover {
    width: 220px;
}

.button:hover .read_more_button_text {
    animation: animateButton 800ms forwards ease;
}

.button:hover .icon {
    animation: animateIcon 300ms forwards ease;
}

@keyframes animateButton {
    100% {
        opacity: 1;
        transform: translateX(-10px);
    }
}

@keyframes animateIcon {
    100% {
        right: -10px;
    }
}


.skilsSection {
    position:relative;
    text-align: center;
    margin-top: 12vh;
    color: rgba(212, 176, 14, 0.959);
}

.skills-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    text-align: center;
    color: #299414;
    gap: 7vh;
}

.category h2 {
    margin: 5vh;
}


@media (max-width: 1200px) {
    .skills-container {
        gap: 1vh;
    }


}

@media (max-width: 955px) {

    .skills-container {
        flex-direction: column;

    }

}

.category {
    margin-bottom: 20px;
}

.skill-card {
    pointer-events: auto;

    background-color: #1b58ff36;
    border-radius: 10px;
    padding: 10px;
    margin: 4vh;
    width: 27vh;
    text-align: center;
    box-shadow: -20px -20px 2px 1px rgba(145, 177, 3, 0.575);
    transition: transform 0.2s ease-in-out;

}

.skill-card:hover {
    transform: scale(1.2);
    box-shadow: none;
}

.skill-card h3 {
    color: rgba(212, 176, 14, 0.959);
}


.progress {
    background: rgba(214, 116, 116, 0.521);
    justify-content: flex-start;
    border-radius: 100px;
    align-items: center;
    position: relative;
    display: flex;
    height: 22px;
    width: 90%;
}

.progress-value1,
.progress-value2,
.progress-value3,
.progress-value4,
.progress-value5,
.progress-value6,
.progress-value7,
.progress-value8,
.progress-value9,
.progress-value10,
.progress-value11 {
    box-shadow: 0 10px 40px -10px #130b0b;
    border-radius: 100px;
    background-color: #15aa22;
    height: 20px;
    width: 0;
}

.progress-value1 {
    animation: load1 4s normal forwards;
}

.progress-value2 {
    animation: load2 4s normal forwards;
}

.progress-value3 {
    animation: load3 4s normal forwards;
}

.progress-value4 {
    animation: load4 4s normal forwards;
}

.progress-value5 {
    animation: load5 4s normal forwards;
}

.progress-value6 {
    animation: load6 4s normal forwards;
}

.progress-value7 {
    animation: load7 4s normal forwards;
}

.progress-value8 {
    animation: load8 4s normal forwards;
}

.progress-value9 {
    animation: load9 4s normal forwards;
}

.progress-value10 {
    animation: load10 4s normal forwards;
}

.progress-value11 {
    animation: load11 4s normal forwards;
}


@keyframes load1 {
    0% {
        width: 0;
    }

    100% {
        width: 80%;
    }
}

@keyframes load2 {
    0% {
        width: 0;
    }

    100% {
        width: 85%;
    }
}

@keyframes load3 {
    0% {
        width: 0;
    }

    100% {
        width: 60%;
    }
}

@keyframes load4 {
    0% {
        width: 0;
    }

    100% {
        width: 60%;
    }
}

@keyframes load5 {
    0% {
        width: 0;
    }

    100% {
        width: 50%;
    }
}

@keyframes load6 {
    0% {
        width: 0;
    }

    100% {
        width: 75%;
    }
}

@keyframes load7 {
    0% {
        width: 0;
    }

    100% {
        width: 70%;
    }
}

@keyframes load8 {
    0% {
        width: 0;
    }

    100% {
        width: 85%;
    }
}

@keyframes load9 {
    0% {
        width: 0;
    }

    100% {
        width: 85%;
    }
}

@keyframes load10 {
    0% {
        width: 0;
    }

    100% {
        width: 65%;
    }
}

@keyframes load11 {
    0% {
        width: 0;
    }

    100% {
        width: 75%;
    }
}



input[type=checkbox] {
    height: 0;
    width: 0;
    visibility: hidden;
}

label {
    cursor: pointer;
    text-indent: -9999px;
    width: 60px;
    height: 30px;
    background: grey;
    display: block;
    border-radius: 100px;
    position: relative;
}

label:after {
    content: '';
    position: absolute;
    left: 1px;
    width: 30px;
    height: 30px;
    background: #fff;
    border-radius: 90px;
    transition: 0.3s;
}

input:checked+label {
    background: #bada55;
}

input:checked+label:after {
    left: calc(100% - 1px);
    transform: translateX(-100%);
}

label:active:after {
    width: 40px;
}


.canvas_start {
    margin: 1vh;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.canvas_start p{
    font-weight: 600;
    color: rgba(212, 176, 14, 0.959);
}